<div class="container-fluid">
    <div class="row row-cols-3 gy-2">
        <div *ngFor="let item of selected.products" class="col text-center">
            <a [routerLink]="item.path" class="text-decoration-none">
                <mat-card style="height: 300px; max-height: 300px; height: 100%;">
                    <div class="py-3">
                        <fa-icon class="py-2 text-info" [icon]="[item.style, item.icon]" size='3x'></fa-icon>
                        <p class="py-2 h4">{{item.name}}</p>
                    </div>
                    <p class="fs-6 text-wrap">{{item.description}}</p>
                </mat-card>
            </a>
            
        </div>
    </div>
</div>


<!-- 

<div>
    <mat-tab-group>

        <mat-tab label="Clients">
            <admin-clients></admin-clients>
        </mat-tab>
        <mat-tab label="Users">
            <admin-users></admin-users>
        </mat-tab>
        <mat-tab label="Filings"> 
            <app-filings></app-filings> 
        </mat-tab>
        <mat-tab label="Marketing"> 
            <app-real-state></app-real-state> 
        </mat-tab>
        <mat-tab label="Accounting"> 
            <div class="my-3">
                <app-accounting></app-accounting> 
            </div>
        </mat-tab>
        <mat-tab label="Compliance"> 
            Compliance content 
        </mat-tab>
        <mat-tab label="Password Manager">
            <app-password-mgmt></app-password-mgmt>
        </mat-tab>
        <mat-tab label="Server Manager">
            Server Manager Content
        </mat-tab>
        
    </mat-tab-group>
    
</div> -->

