<div class="container-fluid my-3">
    <div class="d-flex flex-row bd-highlight mb-3">
        <a role='button'>
            <fa-stack class="mx-2">
                <fa-icon [icon]="['fas', 'circle']" stackItemSize="2x"></fa-icon>
                <fa-icon [icon]="['fas', 'plus']" [inverse]="true" stackItemSize="1x"></fa-icon>
            </fa-stack>
        </a>
        <form class="row row-cols-lg-auto g-3 align-items-center">
            <div class="col-12">
              <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
              <div class="input-group">
                <div class="input-group-text">
                    <fa-icon class="mx-1" [icon]="['fas', 'search']"></fa-icon>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Search keyword...">
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Search...</button>
            </div>
          </form>
    </div>
    <hr>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr class="table-info">
                    <th>Title</th>
                    <th>Username</th>
                    <th>URL</th>
                    <th>Modified</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Apple</td>
                    <td>john@icloud.com</td>
                    <td>http://icloud.com</td>
                    <td>{{currentDate | date:'yyyy-MM-dd hh:mm:ss'}}</td>
                    <td>
                        <a role="button"><fa-icon class="mx-1 text-primary" [icon]="['fas', 'eye']"></fa-icon></a>
                        <a role="button" (click)="openDialog()"><fa-icon class="mx-1 text-primary" [icon]="['fas', 'edit']"></fa-icon></a>
                        <a role="button"><fa-icon class="mx-1 text-primary" [icon]="['fas', 'trash']"></fa-icon></a>
                    </td>
                </tr>
                <tr>
                    <td>Digital Ocean</td>
                    <td>john@dfco.mx</td>
                    <td>http://digitalocean.com</td>
                    <td>{{currentDate | date:'yyyy-MM-dd hh:mm:ss'}}</td>
                    <td>
                        <a role="button"><fa-icon class="mx-1 text-primary" [icon]="['fas', 'eye']"></fa-icon></a>
                        <a role="button" (click)="openDialog()"><fa-icon class="mx-1 text-primary"  [icon]="['fas', 'edit']"></fa-icon></a>
                        <a role="button"><fa-icon class="mx-1 text-primary"  [icon]="['fas', 'trash']"></fa-icon></a>
                    </td>
                </tr>
                <tr>
                    <td>Amazon AWS</td>
                    <td>john@dfco.mx</td>
                    <td>http://aws.amazon.com</td>
                    <td>{{currentDate | date:'yyyy-MM-dd hh:mm:ss'}}</td>
                    <td>
                        <a role="button"><fa-icon class="mx-1 text-primary" [icon]="['fas', 'eye']"></fa-icon></a>
                        <a role="button" (click)="openDialog()"><fa-icon class="mx-1 text-primary" [icon]="['fas', 'edit']"></fa-icon></a>
                        <a role="button"><fa-icon class="mx-1 text-primary" [icon]="['fas', 'trash']"></fa-icon></a>
                    </td>
                </tr>
                <tr>
                    <td>Microsoft Mail</td>
                    <td>john@outlook.com</td>
                    <td>http://outlook.com</td>
                    <td>{{currentDate | date:'yyyy-MM-dd hh:mm:ss'}}</td>
                    <td>
                        <a role="button"><fa-icon class="mx-1 text-primary" [icon]="['fas', 'eye']"></fa-icon></a>
                        <a role="button" (click)="openDialog()"><fa-icon class="mx-1 text-primary" [icon]="['fas', 'edit']"></fa-icon></a>
                        <a role="button"><fa-icon class="mx-1 text-primary" [icon]="['fas', 'trash']"></fa-icon></a>
                    </td>
                </tr>
                <tr>
                    <td>Google Cloud</td>
                    <td>john@dfco.mx</td>
                    <td>http://cloud.google.com</td>
                    <td>{{currentDate | date:'yyyy-MM-dd hh:mm:ss'}}</td>
                    <td>
                        <a role="button"><fa-icon class="mx-1 text-primary" [icon]="['fas', 'eye']"></fa-icon></a>
                        <a role="button" (click)="openDialog()"><fa-icon class="mx-1 text-primary" [icon]="['fas', 'edit']"></fa-icon></a>
                        <a role="button"><fa-icon class="mx-1 text-primary" [icon]="['fas', 'trash']"></fa-icon></a>
                    </td>
                </tr>
                <tr>
                    <td>Azure</td>
                    <td>john@dfco.mx</td>
                    <td>http://azure.microsoft.com</td>
                    <td>{{currentDate | date:'yyyy-MM-dd hh:mm:ss'}}</td>
                    <td>
                        <a role="button"><fa-icon class="mx-1 text-primary" [icon]="['fas', 'eye']"></fa-icon></a>
                        <a role="button" (click)="openDialog()"><fa-icon class="mx-1 text-primary" [icon]="['fas', 'edit']"></fa-icon></a>
                        <a role="button"><fa-icon class="mx-1 text-primary" [icon]="['fas', 'trash']"></fa-icon></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row row-cols-2 gy-3">
        <div class="col-12">
            <h6 class="h6">Quick view</h6>
            <hr>
        </div>
        <div class="col">
            <p class="fw-bold">Username:</p>
            <p class="">
                john@icloud.com
            </p>
        </div>
        <div class="col">
            <p class="fw-bold">URL:</p>
            <p class="fst-italic text-decoration-underline">http://icloud.com</p>
        </div>
        <div class="col">
            <p class="fw-bold">Password:</p>
            <p class=""> 
                <button class="btn btn-secondary">
                    <fa-icon [icon]="['fas', 'eye-slash']" size='xs'></fa-icon>
                </button>
                ***********
            </p>
        </div>
        <div class="col">
            <p class="fw-bold">Modified:</p>
            <p class="">{{currentDate | date:'yyyy-MM-dd hh:mm:ss'}}</p>
        </div>

    </div>
    
</div>