/*Position*/
$start: flex-start;
$center: center;
$end: flex-end;
$spaced: space-around;
$spaced-evenly: space-evenly;

/*Direction*/
$row: row;
$column: column;

@mixin flex($align: $center, $justify: $center, $direction: $row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}
