<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center ">
    <img class="img-cover" src="assets/images/landing/white.jpg">
    <div class="col-md-5 p-lg-5 mx-auto my-5 caption">
      <h1 class="display-4 fw-normal gray-dark">Home Inspection</h1>
      <p class="lead fw-normal">We provide modern tools for document and data management, .</p>
      <a class="btn btn-light btn-outline-dark" href="#">Sign up now</a>
    </div>
    
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Document management</h2>
        <p class="lead">Generation, storage, versioning, delivery of document templates.</p>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <img src="assets/images/landing/doc.jpg" class="img-feature w-100" style="border-radius: 21px 21px 0 0;">
      </div>
    </div>
    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Data management</h2>
        <p class="lead">Quickly access, process and deliver property data and public filings.</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <img src="assets/images/landing/billing.jpg" class="img-feature w-100" style="border-radius: 21px 21px 0 0;">
      </div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Knowledge Base</h2>
        <p class="lead">Predictive analytics including visualizations based on prior results. </p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <img src="assets/images/landing/statistics.jpg" class="img-feature w-100" style="border-radius: 21px 21px 0 0;">
      </div>
    </div>
    <div class="bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Geospatial Information Systems (GIS) Maps</h2>
        <p class="lead">Maps to effectively display related data and visualizations.</p>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <img src="assets/images/landing/maps.jpg" class="img-feature w-100" style="border-radius: 21px 21px 0 0;">
      </div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Payment Processing</h2>
        <p class="lead">Cart, Checkout, Order, Invoice pages.</p>
      </div>
      <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <img src="assets/images/landing/payment.jpg" class="img-feature w-100" style="border-radius: 21px 21px 0 0;">
      </div>
    </div>
    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Telephony</h2>
        <p class="lead">Integration of telecommunications.</p>
      </div>
      <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <img src="assets/images/landing/phone.jpg" class="img-feature w-100" style="border-radius: 21px 21px 0 0;">
      </div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Automation</h2>
        <p class="lead"> Automation of frequently accessed processes.</p>
      </div>
      <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <img src="assets/images/landing/automation.jpg" class="img-feature w-100" style="border-radius: 21px 21px 0 0;">
      </div>
    </div>
    <!-- <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div> -->
  </div>