<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h5>Financial Ledger</h5>
            <hr>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>Client Name:</td>
                        <td class="clientName">
                            <select id="input1" class="form-select">
                                <option selected >Denise Smith</option>
                                <option>...</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Client Address:</td>
                        <td class="clientName">
                            6790 Caporetto Lane, Unit 204, N. Las Vegas, NV 89084 
                        </td>
                    </tr>
                    <tr>
                        <td>Client Phone:</td>
                        <td class="clientPhone">(702) 452 - 0502</td>
                    </tr>
                </tbody>
                
            </table>
            <!-- <div class="d-flex p-2 justify-content-lg-around align-items-center">
                <a class="text-decoration-none" routerLink='fees'>
                    <mat-card class="d-flex flex-column align-items-center" style="width: 100px;">
                        <fa-icon class="text-info my-2" size="2x" [icon]="['fad', 'file-invoice']"></fa-icon>
                        <p class="h6">Fees</p>
                    </mat-card>
                </a>
                <a class="text-decoration-none" routerLink='payments'>
                    <mat-card class="d-flex flex-column align-items-center" style="width: 100px;">
                        <fa-icon class="text-info my-2" size="2x" [icon]="['fad', 'file-invoice-dollar']"></fa-icon>
                        <p class="h6">Payments</p>
                    </mat-card>
                </a>
                <a class="text-decoration-none" routerLink='deposits'>
                    <mat-card class="d-flex flex-column align-items-center" style="width: 100px;">
                        <fa-icon class="text-info my-2" size="2x" [icon]="['fad', 'receipt']"></fa-icon>
                        <p class="h6">Deposits</p>
                    </mat-card>
                </a>
            </div> -->
            <table class="table table-striped table-hover my-3">
                <thead>
                    <tr>
                        <th></th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Balance</th>
                        <th style="width: 25px;">Images</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="5">
                            <h6>
                                Payments Received
                                <small>
                                    <a class="text-decoration-none" role="button" (click)="changeFlagStatus('payment')">
                                        <fa-icon class="text-info my-2" [icon]="['fad', 'file-invoice']"></fa-icon> Add
                                    </a>
                                </small>
                            </h6>
                        </td>
                    </tr>
                    <tr *ngFor="let item of data.payments">
                        <td>{{item.name}}</td>
                        <td>{{item.date}}</td>
                        <td>{{item.amount | currency}}</td>
                        <td>{{item.amount | currency}}</td>
                        <td>
                            <a role="button" (click)="openDialog()">
                                <fa-icon class="text-warning my-2" [icon]="['fad', 'receipt']"></fa-icon>
                            </a>
                        </td>
                    </tr>
                    <tr *ngIf="flags.payment">
                        <td></td>
                        <td><input class="form-control" placeholder="Date" [(ngModel)]='record.date'></td>
                        <td><input class="form-control" placeholder="Amount" [(ngModel)]='record.amount'></td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Browse images..." aria-label="Cover image" aria-describedby="button-addon2">
                                <button class="btn btn-secondary" type="button" id="button-addon2">
                                    <fa-icon [icon]="['fal', 'search']"></fa-icon>
                                </button>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-info">
                                <fa-icon [icon]="['fal', 'check']"></fa-icon>
                            </button>
                        </td>
                    </tr>
                    <tr class="bottomSide">
                        <td colspan="4"><h5>Total Client Payments:</h5></td>
                        <td><h5>$4,306.84</h5></td>
                    </tr>

                   
    
                    <tr>
                        <td colspan="5">
                            <h6>
                                Fees & Payments
                                <small>
                                    <a class="text-decoration-none" role="button" (click)="changeFlagStatus('fee')">
                                        <fa-icon class="text-info my-2" [icon]="['fad', 'file-invoice-dollar']"></fa-icon> Add
                                    </a>
                                </small>
                            </h6>
                        </td>
                    </tr>
                    <tr *ngFor="let item of data.fees">
                        <td>{{item.name}}</td>
                        <td>{{item.date}}</td>
                        <td>{{item.amount | currency}}</td>
                        <td>{{item.amount | currency}}</td>
                        <td>
                            <a role="button" (click)="openDialog()">
                                <fa-icon class="text-warning my-2" [icon]="['fad', 'receipt']"></fa-icon>
                            </a>
                        </td>
                    </tr>
                    <tr *ngIf="flags.fee">
                        <td></td>
                        <td><input class="form-control" placeholder="Date" [(ngModel)]='record.date'></td>
                        <td><input class="form-control" placeholder="Amount" [(ngModel)]='record.amount'></td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Browse images..." aria-label="Cover image" aria-describedby="button-addon2">
                                <button class="btn btn-secondary" type="button" id="button-addon2">
                                    <fa-icon [icon]="['fal', 'search']"></fa-icon>
                                </button>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-info">
                                <fa-icon [icon]="['fal', 'check']"></fa-icon>
                            </button>
                        </td>
                    </tr>
    
                    <tr class="bottomSide">
                        <td colspan="4"><h5>Total Fees and Costs:</h5></td>
                        <td><h5>$4,306.84</h5></td>
                    </tr>
    
                    
                </tbody>
            </table>

            <table class="table table-striped table-hover my-3">
                <thead>
                    <tr>
                        <th></th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Account</th>
                        <th>Balance</th>
                        <th style="width: 25px;">Images</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="6">
                            <h6>
                                Deposit
                                <small>
                                    <a class="text-decoration-none" role="button" (click)="changeFlagStatus('deposit')">
                                        <fa-icon class="text-info my-2" [icon]="['fad', 'receipt']"></fa-icon> Add
                                    </a>
                                </small>
                            </h6>
                        </td>
                    </tr>
                    <tr *ngFor="let item of data.deposits">
                        <td>{{item.name}}</td>
                        <td>{{item.date}}</td>
                        <td>{{item.amount | currency}}</td>
                        <td>{{item.account}}</td>
                        <td>{{item.amount | currency}}</td>
                        <td>
                            <a role="button" (click)="openDialog()">
                                <fa-icon class="text-warning my-2" [icon]="['fad', 'receipt']"></fa-icon>
                            </a>
                        </td>
                    </tr>
                    <tr *ngIf="flags.deposit">
                        <td></td>
                        <td><input class="form-control" placeholder="Date" [(ngModel)]='record.date'></td>
                        <td><input class="form-control" placeholder="Amount" [(ngModel)]='record.amount'></td>
                        <td>
                            <select id="input1" class="form-select">
                                <option selected >Choose an account...</option>
                                <option>...</option>
                            </select>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Upload images..." aria-label="Cover image" aria-describedby="button-addon2">
                                <button class="btn btn-secondary" type="button" id="button-addon2">
                                    <fa-icon [icon]="['fal', 'search']"></fa-icon>
                                </button>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-info">
                                <fa-icon [icon]="['fal', 'check']"></fa-icon>
                            </button>
                        </td>
                    </tr>
    
                    <tr class="bottomSide">
                        <td colspan="5"><h5>Total Deposits:</h5></td>
                        <td><h5>$4,306.84</h5></td>
                    </tr>

                    <tr class="bottomSide">
                        <td colspan="5"><h5>Balance Currently Due as of 10/1/15</h5></td>
                        <td><h5>$0.00</h5></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>	
</div>